<eui-app [userInfos]="userInfos?.fullName" isSidebarOpen=true>

	<eui-app-header>

		<eui-header>

			<eui-header-logo></eui-header-logo>

			<eui-header-app>
				<eui-header-app-name><strong>{{ 'app-title' | translate }}</strong></eui-header-app-name>
				<eui-header-app-subtitle>{{ 'app-subtitle' | translate }}</eui-header-app-subtitle>
			</eui-header-app>

			<eui-header-user-profile welcomeLabel="Administrator">

				<eui-user-profile-menu>

					<eui-user-profile-menu-item>

						<eui-icon iconClass="eui-icon-person-thin">
							</eui-icon> My profile information
						</eui-user-profile-menu-item>

						<eui-user-profile-menu-item>
							<eui-icon iconClass="eui-icon-logout-thin"></eui-icon> Sign out
						</eui-user-profile-menu-item>

				</eui-user-profile-menu>

			</eui-header-user-profile>

		</eui-header>

	</eui-app-header>

	<eui-app-toolbar>

		<eui-toolbar>

			<eui-toolbar-menu [items]="toolbarMenuItems"></eui-toolbar-menu>

		</eui-toolbar>

	</eui-app-toolbar>

	<eui-app-footer>

		<eui-footer euiPrimary>
			{{ 'app-title' | translate }}
		</eui-footer>

	</eui-app-footer>

</eui-app>
