<eui-page>

	<eui-page-header>

		<eui-page-header-action-items>
	
			<eui-buttons euiSizeM>
	
				<euiButtonsActionsContent>
	
					<button euiButton
						euiPrimary
						[euiDisabled]="true">
						<span euiIcon iconClass="eui-icon eui-icon-bars"></span>
					</button>
	
					<button euiButton
						euiIconButton
						[euiDisabled]="false">
						<span euiIcon iconClass="eui-icon eui-icon-grid"></span>
					</button>
	
				</euiButtonsActionsContent>
	
			</eui-buttons>
	
		</eui-page-header-action-items>
	
	</eui-page-header>

	<eui-page-content>

		<eui-block-content>

				<table
					euiTable
					euiTableResponsive
					[rows]="documentList?.items??[]"
					[paginator]="true ? paginator : null">

					<ng-template euiTemplate="header">
					<tr>
						<th>{{ 'document.id' | translate }}</th>
						<th>{{ 'document.name' | translate }}</th>
						<th>{{ 'document.create-date' | translate }}</th>
						<th>{{ 'document.last-modified-date' | translate }}</th>
					</tr>
					</ng-template>

					<ng-template let-row euiTemplate="body">
					<tr>
						<td>{{ row.id }}</td>
						<td>{{ row.name }}</td>
						<td>{{ row.createDate }}</td>
						<td>{{ row.modifiedDate}}</td>
					</tr>
					</ng-template>

					<ng-template euiTemplate="emptyMessage">
						<tr>
							<td class="eui-u-text-center" colspan="4">{{ 'no-data' | translate }}</td>
						</tr>
					</ng-template>

				</table>

		</eui-block-content>

	</eui-page-content>

	<eui-page-footer>

		<eui-table-paginator
			#paginator
			[pageSizeOptions]="[5, 10, 25, 50]"
			[pageSize]="10"
			(pageChange)="onPageChange($event)"
			[isHidden]="true">
		</eui-table-paginator>

	</eui-page-footer>

</eui-page>
